body {
	margin: 0;
	padding: 0;
}

#hamburger {
	background: #ccc;
	height: 100%;
	margin-left: -200px;
	position: absolute;
	width: 200px;
}

header {
	background: #000;
	height: 50px;
	position: relative;
	top: 0;
	width: 100%;
}

section.content {
	padding: 10px;
	position: relative;
}